/* AllSalesSyles.css */
.all-sales {
    padding: 2remr;
    max-width: 1200px;
    margin: 0 auto;
}

.all-sales h1 {
    padding-top: 6rem;
    text-align: center;
    margin-bottom: 2rem;
}

main {
    min-height: 100vh;
    margin-bottom: -100px;
}

.push {
    height: 100px;
}